@import "./utils/mixin";

// -----------Font-roots---------

:root {
  --primary-font: "DM Sans", sans-serif;
  --titan-font: "Titan One", cursive;
}

// ----------Styles-------

body {
  font-family: var(--primary-font);
  font-size: 12px;

  @media screen and (min-width: 700px) and (max-width: 1049px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1050px) {
    font-size: 16px;
  }
}

.title {
  max-width: 277px;
  padding: 20px;
  font-family: var(--titan-font);
  @include font(400, 38px, 44px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffb8ca;
}

.title-accent {
  @include font(400, 58px, 52px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.btn {
  height: 40px;
  min-width: 104px;
  border: transparent;
  border-radius: 20px;

  background-color: #d41443;
  color: #ffffff;
  @include font(400, 14px, 18px);
}
